{
	margin:10px;
	padding: 10px;
	box-sizing: border-box;

}
body{
	background-image: url()
	background-color: mediumspringgreen;
	line-height: 1.3;
	font-family: 'Raleway', sans-serif;
}
nav{
	 font-family: 'Tangerine', serif;
  	font-size: 28px;
  	text-shadow: 4px 4px 4px #aaa;
	background-color: grey;
}
nav ul li a{
	display: block;
	border:1px solid;
	border-radius: .5em;
	padding:.5em 1em;
	margin: .5em
}
nav ul li a:hover{
	color: red;
}
nav ul li a:active{
	color:hotpink;
	}
nav ul li a:visited{
	color:pink;
} 
nav ul li {
	font-size:.8em;
	text-transform: uppercase;
	letter-spacing: .2em;
}
nav ul{
	margin:10px;
	padding:0;
	list-style-type:none;
	display: flex;
	justify-content: center; 
}
header{
	color: red;
	background: linear-gradient(rgba(73, 33, 33, 0.45), 
		rgba(172, 96, 12, 0.45)), 
	url(https://pixabay.com/images/search/flowers/)
	no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 25em;
	display: flex;
	align-items:center;
	justify-content: center;
}
header h1 {
	font-size: 3em;
	letter-spacing: 2px;
}
header span {
	vertical-align: middle;
	font-size: 3em;
}
header p{
	font-style: italic;
	font-size: 1.2em;
}
.container{
	display: flex;
}
main{
	background-color: blue;
	line-height: 1.8em;
	color: blue;
	padding: 1em;
	border: solid 8px grey;
	border-radius: 25px;
	margin: 2.5%;
	flex: 3;
	background-image: image("https://pixabay.com/images/search/flowers/");
} 
h3::first-letter{
	font-size: 30px;
}
h3{
	text-transform: uppercase;
	letter-spacing: .2em;
	color: blue;
	border-top: 1px solid;
	border-left:3px solid;
	padding-left: 1em;
	margin-top:2.5em;
}
.product-image{
	width: 8rem;
	height: 8rem;
	object-fit: cover;
	border-radius: 25%;
}
.product-details{
	margin: auto 2rem;
}
.product-container{
	display: flex;
}
p.more{
	text-transform: uppercase;
	font-size: .8em;
	clear:left;
}
/*Aside*/
aside{
	flex:1;
	margin: 2.5%;
	height: 100%;
}
.ad-image{
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.ad{
	background-color: #f6f4f4;
}
.ad-details{
	padding: .75em;
}
.ad-details h4, .ad-details a, .ad-details p{
	font-family: 'Roboto', sans-serif;
}
.ad-link{
	font-size: .75em;
	text-transform: uppercase;
}
.ad-title{
	font-size: .85em;
}
.ad-description{
	font-size: .70em;
}
footer{
	color: #EADDC4;
	text-align: center;
	font-size: .8em;
	padding: 1em;
	background-color: #543304;
}
.m-0{
	margin:0;
}
.mb-0{
	margin-bottom: 0;
}
.mb-2{
	margin-bottom: .75rem;
}
.mb-3{
	margin-bottom:1.5rem;
}
.mb-4{
	margin-bottom: 1.5rem;
}
.my-3{
	margin-top:1rem;
	margin-bottom: 1rem;
}
.my-4{
	margin-top:1.5rem;
	margin-bottom: 1.5rem;
}
/*padding utilities*/
.p-1{
	padding:0.25rem;
}
.p-2{
	padding:0.5rem;
}
.p-3{
	padding:1rem;
}
.px-3{
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-3{
	padding-top:1rem;
	padding-bottom: 1rem;
}
p::selection {
	background-color: skyblue;
	color:yellow;
}








